<div class="form-container mat-elevation-z5">
  <h1>Sign up new User</h1>
  <form [formGroup]="singUpForm" (ngSubmit)="singUp()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
      @if (name?.errors?.['required']) {
        <mat-error>
          Name is required
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email">
      @if (email?.errors?.['required']) {
        <mat-error>
          Email is required
        </mat-error>
      }
      @if (email?.errors?.['email']) {
        <mat-error>
          Please enter a valid email address
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password">
      @if (password?.errors?.['required']) {
        <mat-error>
          Password is required
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password">
      @if (confirmPassword?.errors?.['required']) {
        <mat-error>
          confirm password is required
        </mat-error>
      }
    </mat-form-field>
    <div class="center margin-top">
      <button mat-raised-button color="primary" type="submit">Sign up</button>
    </div>
  </form>
</div>
