<div class="form-container mat-elevation-z5">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email">
      @if (email?.errors?.['required']) {
        <mat-error>
          Email is required
        </mat-error>
      }
      @if (email?.errors?.['email']) {
        <mat-error>
          Please enter a valid email address
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password">
      @if (password?.errors?.['required']) {
        <mat-error>
          Password is required
        </mat-error>
      }
    </mat-form-field>

    <div class="center margin-top">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>

    <span class="center margin-top">
      New to our platform ? <a class="sing-up-link" routerLink="sing-up"> Sing Up!</a>
    </span>
  </form>
</div>
